<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <table border='0' align='center' cellspacing='0'  cellpadding='0' width="1000" height="100%">
    <td>
        <tr>
            <b>{{ message }}</b>
        </tr>
    </td>
    <td>
        <tr>
            <b>Создание записей в БД для тестирования.</b> (Прошу создавать не более 1 млн.)
        </tr>
    </td>
    <td>
        <tr>
            <form method="post" action="/insert_data">
                <p><input type="text" pattern="\d+" name="count"> Количество создаваемых объектов</p>
                <p><input type="submit" value="Создать"></p>
            </form>
        </tr>
    </td>
        <td>
            <tr>
                <b>Запуск теста.</b>
            </tr>
        </td>
        <td>
            <tr>
                <form action="/mongo/insert_data">
                    <p><input type="text" pattern="\d+" name="count"> Количество создаваемых объектов</p>
                    <p><input type="submit" value="Создать"></p>
                </form>
            </tr>
        </td>
    </table>
</body>
</html>