<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <table border='0' align='center' cellspacing='0'  cellpadding='0' width="1000" height="100%">
        <tr>
            <td>
                <p style='color: green'>{{ message }}</p>
            </td>
        </tr>

        <tr><td>
            <b>Создание записей в БД для тестирования.</b> (Прошу создавать не более 1 млн.)
        </td></tr>


        <tr><td>
            <form method="post" action="/mongo/insert_data">
                <p><input type="text" pattern="\d+" name="count"> Количество создаваемых объектов</p>
                <p><input type="text" pattern="\d+" name="pack_count"> Количество одновременно запущенных нитей</p>
                <p><input type="submit" value="Создать"></p>
            </form>
        </td></tr>


            <tr><td>
                <b>Запуск теста.</b>
            </td></tr>


            <tr><td>
                <form action="/mongo/test_data">
                    <p>Тестирование</p>
                    <p><input type="submit" value="Запустить"></p>
                </form>
            </td></tr>

    </table>
</body>
</html>